.address {
  display: flex;
  flex-direction: column;

  &__item:not(:last-child) {
    margin-top: 0;
    margin-bottom: 9px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-white-color);
  }

  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition: color 250ms cubic-bezier(var(--cubic-bz));

    &:hover,
    &:focus {
      color: var(--accent-color);
      outline: transparent;
    }
  }
}
