.button {
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 0 auto;
    padding: 10px;
    min-width: 200px;
    max-height: 50px;
  
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    border: 0px solid transparent;
  
    transition: color 250ms cubic-bezier(var(--cubic-bz)),
      background-color 250ms cubic-bezier(var(--cubic-bz)),
      box-shadow 250ms cubic-bezier(var(--cubic-bz));

    &:hover,
    &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--primary-white-color);
    color: var(--accent-color);
    outline: transparent;
  }
  
  }
  
  