.clients__section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
  
  
  @include mq(desktop) {
  flex-wrap: nowrap;
  }

  &__item {
      margin: 15px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 210px;
    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(var(--cubic-bz)),
      border-color 250ms cubic-bezier(var(--cubic-bz));

      @include mq(tablet) {
        min-width: 226px;
      }
    
      @include mq(desktop) {
        min-width: 170px;
      }

    &:hover,
    &:focus {
      border-color: var(--accent-color);
      fill: var(--accent-color);
      outline: transparent;
    }
  }
}
