.subscribe {
  @include mq(mobile-only) {
    width: 100%;
  }

  @include mq(tablet-only) {
    width: 450px;
    margin-top: 60px;
  }

  @include mq(desktop) {
    margin-left: auto;
    display: flex;
  }

  &__label {
    @include mq(mobile-only) {
    }

    @include mq(tablet-only) {
      display: flex;
      flex-direction: column;
    }

    @include mq(desktop) {
      display: flex;
      flex-direction: column;
      margin-right: 12px;
    }
  }

  &__input {
    padding-left: 16px;
    height: 50px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    outline: 1px solid transparent;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      line-height: 1.25;
    }

    @include mq(mobile-only) {
      width: 100%;
      margin-bottom: 20px;
    }

    @include mq(tablet-only) {
      width: 100%;
      margin-bottom: 20px;
    }

    @include mq(desktop) {
      width: 358px;
    }
  }

  &__btn {
    display: flex;
    align-self: flex-end;
  }

  &__icon {
    margin-left: 10px;
    fill: currentColor;
  }
}
