.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }

    @include mq(desktop) {
      display: flex;
      align-items: baseline;
      justify-content: unset;
    }
  }

  &__address {
    @include mq(mobile-only) {
      margin-bottom: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include mq(desktop) {
      margin-right: 70px;
    }
  }

  &__logo {
    @include mq(mobile-only) {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    @include mq(tablet-only) {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    @include mq(desktop) {
      display: inline-block;
      margin-bottom: 20px;
    }
  }

  &__socials {
    fill: var(--primary-white-color);
    background-color: rgba(255, 255, 255, 0.1);

    @include mq(mobile-only) {
      margin-bottom: 60px;
    }
  }
}
