.subscribe {
  display: flex;
  margin-left: auto;

  &__label {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
  }

  &__input {
    width: 358px;
    height: 50px;

    padding-left: 16px;

    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    outline: 1px solid transparent;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      line-height: 1.25;
    }
  }

  &__btn {
    display: flex;
    align-self: flex-end;
  }

  &__icon {
    margin-left: 10px;
    fill: currentColor;
  }
}
