.menu__btn--open {
    display: none;
  @include mq(mobile-only) {
    display: inline-flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 6;
    fill: currentColor;

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
}

.icon__cross {
  display: none;
}

.menu__btn--open.is-open .icon__cross {
    display: block;
}

.menu__btn--open.is-open .icon__menu {
  display: none;
}

.menu__container {
  // display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: var(--primary-white-color);
  padding: 48px 40px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(var(--cubic-bz)), opacity 250ms cubic-bezier(var(--cubic-bz)), visibility 250ms cubic-bezier(var(--cubic-bz));

  &.is-open {
    visibility: visible;
    pointer-events: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-50%);
    transition: transform 250ms cubic-bezier(var(--cubic-bz)), opacity 250ms cubic-bezier(var(--cubic-bz)), visibility 250ms cubic-bezier(var(--cubic-bz));
  }
}

.menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    color: var(--title-text-color);

    &--current {
      color: var(--accent-color);
    }
  }
}

.menu-contacts {
  margin-bottom: 64px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link.tel {
    font-size: 34px;
    line-height: 1.18;
    color: var(--accent-color);
  }

  &__link.email {
    color: var(--primary-text-color);
  }
}

.menu-socials {
  display: flex;
  flex-wrap: wrap;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__item {
    position: relative;
  }

  &__item:not(:last-child)::after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.2);
    position: absolute;
    top: 0;
    right: -10px;
  }

  &__link {
    color: var(--accent-color);
  }
}
