.nav {

  display: flex;
  align-items: center;

  &__list {
    display: none;

    @include mq(tablet) {
      display: flex;
      align-items: center;
      margin-left: 88px;
    }

    @include mq(desktop) {
      margin-left: 93px;
    }
  }

  &__item {
    position: relative;

    &:not(:first-child) {
      margin-left: 50px;
    }
  }

  &__link {
    color: var(--title-text-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(var(--cubic-bz));

    &:hover,
    &:focus {
      color: var(--accent-color);
      outline: transparent;
    }

    &--current {
      color: var(--accent-color);

      &::after {
        content: '';

        @include mq(tablet) {
          position: absolute;
          bottom: -31px;

          width: 100%;
          height: 4px;

          background: var(--accent-color);
          border-radius: 2px;
          display: block;
        }

        @include mq(desktop) {
          bottom: -31px;
        }
      }
    }
  }
}

.menu__btn--open {
  // position: absolute;
  // top: 22px;
  // right: 23px;

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.icon__cross {
  display: none;
}

.menu__btn--open.is-open .icon__cross {
  display: block;
}

.menu__btn--open.is-open .icon__menu {
  display: none;
}

.menu__container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #ffffff;
  padding: 48px 40px;

  &.is-open {
    display: block;
  }
}

