.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;

  @include mq(tablet) {
    justify-content: unset; 
  }

  &__section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  &__item {
    margin: 15px;
   
    width: 100%;
    
    @include mq(tablet) {
    
    width: calc(100% / 2 - 30px);
    }
    
    @include mq(desktop) {
      width: calc(100% / 3 - 30px);
      
    }
  }

  &__item:hover,
  &__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__overlay-thumb {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.55;
    color: var(--primary-white-color);

    transform: translatey(100%);
    transition: box-shadow 250ms cubic-bezier(var(--cubic-bz)),
      transform 250ms cubic-bezier(var(--cubic-bz));
  }

  &__link:hover &__overlay,
  &__link:focus &__overlay {
    transform: translatey(0%);
  }

  &__link {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
  }

  &__wrap {
    border: 1px solid rgba(238, 238, 238, 1);
    padding: 20px 24px;
    flex-grow: 1;
  }
}
