/* основной цвет текста #757575 */
/* вторичный цвет #212121 */
/* цвет фона #FFFFFF */
/* вторичный цвет фона #2F303A */
/* серый цвет фона для секции #F5F4FA */
/* акцент #2196F3 */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --cubic-bz: 0.4, 0, 0.2, 1;
  }